# Date: 28.05.2023
python v3.9

# https://kivy.org/doc/stable/gettingstarted/installation.html#installation-canonical
# python -m pip install "kivy[base]" kivy_examples
kivy==2.1.0

# https://kivymd.readthedocs.io/en/1.1.1/getting-started/
# pip install kivymd
KivyMD==1.1.1

# https://kivy-garden.github.io/mapview/installation.html#supported-versions
# pip install kivy-garden
Kivy-Garden==0.1.5

# garden install mapview
# mapview

# https://pypi.org/project/plyer/
plyer==2.1.0

# https://github.com/googlemaps/google-maps-services-python
googlemaps==4.10.0
